
<tr>
  <td><%= customer.fname %></td>
  <td><%= customer.lname %></td>
  <td><%= customer.last_4 %></td>
  <td><%= customer.address %></td>
  <td><%= customer.city %></td>
  <td><%= customer.state %></td>
  <td><%= customer.zip %></td>
  <td><%= customer.updated_at %></td>
  <td><%= link_to 'Show', customer_path(customer) %></td>
</tr>


