 <!doctype html>
 <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
 <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
 <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
 <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>Helping Hand of Greater Little Rock</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
   <link rel="shortcut icon" href="../assets/favicon.ico">
   <link rel="stylesheet" href="../assets/bootstrap.min.css">
   <style>
       body {
           padding-top: 50px;
           padding-bottom: 20px;
       }
   </style>
   <link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
   <!-- Custom styles for this template -->
 
   <link rel="stylesheet" href="../assets/normalize.css">
   <link rel="stylesheet" href="../assets/jquery.steps.css">
   <link rel="stylesheet" href="../assets/main.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="../assets/modernizr-2.6.2.min.js"></script>
   <script src="../assets/jquery.cookie-1.3.1.js"></script>
   <script src="../assets/jquery.steps.js"></script>
   <script>
       $(function ()
       {
           $("#wizard").steps({
               headerTag: "h2",
               bodyTag: "section",
               transitionEffect: "slideLeft",
               stepsOrientation: "vertical"
           });
       });
   </script>
   <script src="../assets/clone-form-td.js"></script>
 
 </head>
 <!--[if lt IE 8]>
 <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
 <![endif]-->
 
 <!-- NAVBAR
 ================================================== -->
 <body>
 <div class="navbar-wrapper">
   <div class="container">
 
     <nav class="navbar navbar-inverse navbar-static-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Helping Hand of Greater Little Rock</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li><a href="/home/#">Home</a></li>
             <li><a href="/customers/#">Search Existing Clients</a></li>
             <li class="active"><a href="/customers/new">New Clients</a></li>
             <li><a href="/volunteers/#">Volunteer Clocking</a><li>
             <li><a href="/reports/#">Monthly Reports</a><li>
           </ul>
           <form class="navbar-form navbar-left" role="search">
             <div class="form-group">
             </div>
             <button type="signOut" class="btn btn-default">Sign Out</button>
           </form>
         </div>
       </div>
     </nav>
 
   </div>
 </div>
 
 
 
 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. --> 
 <div class="container marketing">
 
<%= render partial: 'flash_messages' %>

   <div class="page-header">
     <h1>New Client</h1>
   </div>
 
 <%= form_for @customer do |f| %>
   <div id="wizard">
     <h2>Personal Info</h2>
     <section>
 
       <h3>Applicant's Name:</h3>
       <div class="col-xs-4">
         <%= f.text_field :fname, { class: 'form-control', placeholder: 'First Name' } %>
       </div>
       <div class="col-xs-4">
         <%= f.text_field :lname, { class: 'form-control', placeholder: 'Last Name' } %>
       </div>
       <div class="col-xs-2">
         <%= f.text_field :MI, { class: 'form-control', placeholder: 'MI' } %>
       </div>
 
 
 
       <h3 class="h3Form">Drivers license number:</h3>
       <div class="col-xs-4">
         <%= f.text_field :last_4, { class: 'form-control', placeholder: 'Last 4 digits DLN' } %>
       </div>
 
 
       <h3 class="h3Form">Address:</h3>
       <div class="col-xs-12">
         <%= f.text_field :address, { class: 'form-control', placeholder: 'Address' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :city, { class: 'form-control', placeholder: 'City' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :county, { class: 'form-control', placeholder: 'County' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :state, { class: 'form-control', placeholder: 'State' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :zip, { class: 'form-control', placeholder: 'Zip' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :phone_num, { class: 'form-control', placeholder: 'Phone No./Message Phone' } %>
       </div>
 
 
     </section>
 
     <h2>Demographic</h2>
     <section>
       <h3>Demographic:</h3>
       <div class="col-xs-6">
         <%= f.text_field :DOB, { class: 'form-control', placeholder: 'Date of Birth' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :age, { class: 'form-control', placeholder: 'Age' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :race, { class: 'form-control', placeholder: 'Race' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :sex, { class: 'form-control', placeholder: 'Sex' } %>
       </div>
       <h3 class="h3Form">Education:</h3>
       <div class="col-xs-6">
         <%= f.text_field :last_grade, { class: 'form-control', placeholder: 'Last Grade Attended' } %>
       </div>
       <h3 class="h3Form">Job Status:</h3>
       <div class="checkbox">
       <label>
         <%= f.check_box_tag :occupation, "unemployed" %>
         <%= f.label :occupation, "Unemployed", :value => "unemployed" %>
       </label>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :employer, { class: 'form-control', placeholder: 'Place of Employment' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :occupation, { class: 'form-control', placeholder: 'Occupation' } %>
       </div>
 
 
       <h3 class="h3Form">Marital Status:</h3>
 
       <label class="radio-inline">
 
         <%= f.radio_button :other_inc, "single" %>
         <%= f.label :other_inc, "Single", :value => "single" %>
 
       </label>
       <label class="radio-inline">
 
         <%= f.radio_button :other_inc, "married" %>
         <%= f.label :other_inc, "Married", :value => "married" %>
 
       </label>
       <label class="radio-inline">
 
         <%= f.radio_button :other_inc, "divorced" %>
         <%= f.label :other_inc, "Divorced", :value => "divorced" %>
 
       </label>
       <label class="radio-inline">
 
         <%= f.radio_button :other_inc, "widowed" %>
         <%= f.label :other_inc, "Widowed", :value => "widowed" %>
 
       </label>
       <label class="radio-inline">
 
         <%= f.radio_button :other_inc, "separated" %>
         <%= f.label :other_inc, "Separated", :value => "separated" %>
 
       </label>
       <div class="col-xs-6">
         <%= f.text_field :other_inc, { class: 'form-control', placeholder: 'Spouse' } %>
       </div>
       <div class="col-xs-6">
       <input type="text" class="form-control" placeholder="ID">
       </div>
       <div class="col-xs-6">
         <%= f.text_field :DOB, { class: 'form-control', placeholder: 'Date of Birth' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :age, { class: 'form-control', placeholder: 'Age' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :employer, { class: 'form-control', placeholder: 'Place of Employment' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :occupation, { class: 'form-control', placeholder: 'Occupation' } %>
       </div>
       <div class="col-xs-6">
         <%= f.text_field :zip, { class: 'form-control', placeholder: 'Zip' } %>
       </div>
  
      </section>

 <%= f.fields_for :dependents do |d| %> 
      <h2>Household Members</h2>
      <section>
        <h3>Household Members:</h3>
       <div id="entry1" class="clonedInput">
         <fieldset>
           <div class="col-xs-4">
             <%= d.text_field :fname, { class: 'form-control', placeholder: 'First Name' }%>
           </div>
           <div class="col-xs-4">
             <%= d.text_field :lname, { class: 'form-control', placeholder: 'Last Name' } %>
           </div>
           <div class="col-xs-4">
             <%= d.text_field :food_stamp, { class: 'form-control', placeholder: 'on food stamp/DATE' } %>
           </div>
           <div class="col-xs-4">
             <%= d.text_field :DOB, { class: 'form-control', placeholder: 'DOB (mm/dd/yyyy)' } %>
           </div>
           <div class="col-xs-4">
             <%= d.text_field :age, { class: 'form-control', placeholder: 'Age' } %>
           </div>
           <div class="col-xs-4">
             
           </div>
          </fieldset>
        </div><!-- end #entry1 -->
        <!-- Button (Double) -->
        <p>
         <button type="button" id="btnAdd" name="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
         <button type="button" id="btnDel" name="btnDel" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
        </p>
        </fieldset>
      </section>
 <% end %>

      <h2>Monthly Income</h2>
      <section>
       <h3>Source of Monthly Income</h3>
 
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :salary, { class: 'form-control', placeholder: 'Salary/Self' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :salary_spouse, { class: 'form-control', placeholder: 'Salary/Spouse' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :salary_house, { class: 'form-control', placeholder: 'Salary/Household Members' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :child_support, { class: 'form-control', placeholder: 'AFDC/Child Support' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :food_stamps, { class: 'form-control', placeholder: 'Food Stamps' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :WIC, { class: 'form-control', placeholder: 'WIC' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :unemployment, { class: 'form-control', placeholder: 'Unemployment Compensation' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :ssi, { class: 'form-control', placeholder: 'Social Security' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :SSI_note, { class: 'form-control', placeholder: 'SSI (Disablility)' } %>
           <div class="input-group-addon">.00</div>
         </div>
         <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
         <div class="input-group">
           <div class="input-group-addon">$</div>
           <%= f.text_field :other_note, { class: 'form-control', placeholder: 'Other' } %>
           <div class="input-group-addon">.00</div>
         </div>
     </section>
     <h2>Expenses</h2>
     <section>
       <h3>Source of Expenses:</h3>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :rent_mortgage, { class: 'form-control', placeholder: 'Rent/Mortgage' } %>
         <div class="input-group-addon">.00</div>
       </div>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :electricity, { class: 'form-control', placeholder: 'Electricity' } %>
         <div class="input-group-addon">.00</div>
       </div>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :gas, { class: 'form-control', placeholder: 'Gas' } %>
         <div class="input-group-addon">.00</div>
       </div>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :water, { class: 'form-control', placeholder: 'Water' } %>
         <div class="input-group-addon">.00</div>
       </div>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :medicine, { class: 'form-control', placeholder: 'Medicine' } %>
         <div class="input-group-addon">.00</div>
       </div>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :med_supplies, { class: 'form-control', placeholder: 'Medicial Supplies' } %>
         <div class="input-group-addon">.00</div>
       </div>
       <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
       <div class="input-group">
         <div class="input-group-addon">$</div>
         <%= f.text_field :other_exp, { class: 'form-control', placeholder: 'Other' } %>
         <div class="input-group-addon">.00</div>
       </div>
     </section>
     <h2>Additional Documents</h2>
     <section>
       <h3>Have you received the following documents?:</h3>
       <div class="checkbox">
         <label>
         <%= f.check_box_tag :other_exp, "blueForm" %>
         <%= f.label :other_exp, "Blue Form", :value => "blueForm" %>
 
         </label>
       </div>
       <div class="checkbox">
         <label>
         <%= f.check_box_tag :other_exp, "usda" %>
         <%= f.label :other_exp, "Application for USDA Donated Foods", :value => "usda" %>
 
         </label>
       </div>
       <h3>Any Additional Notes/Comments?:</h3>
       <%= f.text_field :other_note, { class: 'form-control', placeholder: '' } %>
     </section>
     </div>
     <%= f.submit class: 'submitButton' %>
   </div><!-- /.container -->
 <% end %>
   <!--footer-->
   <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
     <p>&copy; 2016 AllStateTeam. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
   </footer>
  
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

   <script src="../assets/javascripts/vendor/bootstrap.min.js"></script>
  
   <script src="js/main.js"></script>
   <script src="../assets/javascripts/main.js"></script> 
  
    <!--form script-->

 </body>
 </html>